body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

button {
  display: inline-block;
  font-size: 1.5em;
  padding: 10px 20px;
  cursor: pointer;
}
